<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Labels</title>
  <style>
    @page {
      size: Letter;
      margin: 1in;
    }


    table, td {
      border: 1px dashed darkgray;
      border-collapse: collapse;
      width: 6in;
    }

    tr {
      height: 0.5in;
    }

    td {
      width: 2in;
      padding: 0.25rem;
      font-weight: bold;
      text-align: center;
    }

  </style>
</head>
<body>
  <table>
    <tbody>
    {% for label_row in label_rows %}
      <tr>
      {% for label_name in label_row %}
          <td>
          {{ label_name }}
          </td>
      {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}

    
    </tbody>
  </table>


</body>
</html>
